<div class="container" style="text-align: center;">
  <div class="row">
    <h1 class="text-center col-md-12 p-5">REGIONS</h1>
  </div>
  
  <div class="row">
  <div class="card border border-dark p-3 col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Africa.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Africa</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/africa']">View Countries</button>
    </div>
  </div>
  
  <div class="card border border-dark p-3 col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Americas.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Americas</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/americas']">View Countries</button>
    </div>
  </div>
  
  <div class="card border border-dark p-3 col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Asia.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Asia</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/asia']">View Countries</button>
    </div>
  </div>
  
  <div class="card border border-dark p-3 col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Europe.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Europe</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/europe']">View Countries</button>
    </div>
  </div>
  
  <div class="card border border-dark p-3 col-md-6">
    <img class="card-img-top img-fluid" src="../../assets/Images/Oceania.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="card-title">Oceania</h3>
      <button type="button" class="btn btn-dark" [routerLink]="['/all-countries/oceania']">View Countries</button>
    </div>
  </div>
</div>